* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-size: 13px;
}
html {
    font-size:8.89px;
    font-family: "Helvetica Neue","Helvetica","STHeiTi","\5fae\8f6f\96c5\9ed1","Microsoft YaHei","微软雅黑","Arial","sans-serif";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

html,body,#app{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    /*overflow-y: auto;*/
    /*overflow-y:scroll;*/
    /*-webkit-overflow-scrolling: touch;*/
}
body,html,p,h1,h2,h3,h4,ul,li{
  padding: 0;
  margin: 0;
}
li{
    list-style: none;
}


@media only screen and (min-width: 360px) {
    html {
        font-size:10px
    }
}

@media only screen and (min-width: 375px) {
    html {
        font-size:10.42px
    }
}

@media only screen and (min-width: 400px) {
    html {
        font-size:11.11px
    }
}

@media only screen and (min-width: 414px) {
    html {
        font-size:11.50px
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size:13.33px
    }
}

@media only screen and (min-width: 750px) {
    html {
        font-size:20.83px
    }
}

.border-1px-top,.border-1px-right,.border-1px-bottom,.border-1px-left,.border-1px-TopBottom,.border-1px-BottomTop {
    position: relative;
    z-index: 6
}

.border-1px-top::before {
    border-top: 1px solid #dcdcdc;
    width: 100%;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 666
}

.border-1px-TopBottom:after {
    border-top: 1px solid #dcdcdc;
    width: 100%;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 666
}

.border-1px-BottomTop:before {
    border-top: 1px solid #dcdcdc;
    width: 100%;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 666
}

.border-1px-bottom::after {
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 666
}

.border-1px-left::before {
    border-left: 1px solid #dcdcdc;
    height: 100%;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 666
}

.border-1px-right::before {
    border-right: 1px solid #dcdcdc;
    height: 100%;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 666
}

@media(-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio:1.5) {
    .border-1px-top::before {
        -webkit-transform:scaleY(0.7);
        -webkit-transform-origin: left top;
        transform: scaleY(0.7)
    }

    .border-1px-top::after {
        -webkit-transform: scaleY(0.7);
        -webkit-transform-origin: left top;
        transform: scaleY(0.7)
    }

    .border-1px-bottom::after {
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
        -webkit-transform-origin: left bottom
    }

    .border-1px-left::before {
        -webkit-transform: scaleX(0.7);
        -webkit-transform-origin: left top;
        transform: scaleX(0.7)
    }

    .border-1px-right::before {
        -webkit-transform: scaleX(0.7);
        transform: scaleX(0.7);
        -webkit-transform-origin: right bottom
    }

    .procol2List li div::before {
        -webkit-transform: scaleX(0.7);
        transform: scaleX(0.7);
        -webkit-transform-origin: right bottom
    }

    .border-1px-BottomTop:before {
        -webkit-transform: scaleX(0.7);
        transform: scaleX(0.7);
        -webkit-transform-origin: left top
    }

    .border-1px-TopBottom:after {
        -webkit-transform: scaleX(0.7);
        transform: scaleX(0.7);
        -webkit-transform-origin: left bottom
    }
}

@media(-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio:2) {
    .border-1px-top::before {
        -webkit-transform:scaleY(0.5);
        transform: scaleY(0.5);
        -webkit-transform-origin: left top
    }

    .border-1px-top::after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        -webkit-transform-origin: left top
    }

    .border-1px-bottom::after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        -webkit-transform-origin: left bottom
    }

    .border-1px-left::before {
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
        -webkit-transform-origin: left top
    }

    .border-1px-right::before {
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
        -webkit-transform-origin: right bottom
    }

    .procol2List li div::before {
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
        -webkit-transform-origin: right bottom
    }

    .border-1px-BottomTop:before {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        -webkit-transform-origin: left top
    }

    .border-1px-TopBottom:after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
        -webkit-transform-origin: left bottom
    }
}

@media(-webkit-min-device-pixel-ratio: 2.5),(min-device-pixel-ratio:2.5) {
    .border-1px-top::before {
        -webkit-transform:scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: left top
    }

    .border-1px-bottom::after {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: left bottom
    }

    .border-1px-left::before {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: left top
    }

    .border-1px-right::before {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: right bottom
    }

    .procol2List li div::before {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-transform-origin: right bottom
    }

    .border-1px-BottomTop:before {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: left top
    }

    .border-1px-TopBottom:after {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
        -webkit-transform-origin: left bottom
    }
}

@media(-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio:3) {
    .border-1px-top::before {
        -webkit-transform:scaleY(0.33);
        transform: scaleY(0.33);
        -webkit-transform-origin: left top
    }

    .border-1px-top::after {
        -webkit-transform: scaleY(0.33);
        transform: scaleY(0.33);
        -webkit-transform-origin: left top
    }

    .border-1px-bottom::after {
        -webkit-transform: scaleY(0.33);
        transform: scaleY(0.33);
        -webkit-transform-origin: left bottom
    }

    .border-1px-left::before {
        -webkit-transform: scaleX(0.33);
        transform: scaleX(0.33);
        -webkit-transform-origin: left top
    }

    .border-1px-right::before {
        -webkit-transform: scaleX(0.33);
        transform: scaleX(0.33);
        -webkit-transform-origin: right bottom
    }

    .procol2List li div::before {
        -webkit-transform: scaleX(0.33);
        transform: scaleX(0.33);
        -webkit-transform-origin: right bottom
    }

    .border-1px-BottomTop:before {
        -webkit-transform: scaleY(0.33);
        transform: scaleY(0.33);
        -webkit-transform-origin: left top
    }

    .border-1px-TopBottom:after {
        -webkit-transform: scaleY(0.33);
        transform: scaleY(0.33);
        -webkit-transform-origin: left bottom
    }
}
.button{
    background-color: rgba(0,0,0,.05)!important;
}
.flash{
  animation: flash 1000ms infinite;
  -webkit-animation: flash 1000ms infinite;
  -o-animation: flash 1000ms infinite;
  -moz-animation: flash 1000ms infinite;
}
@-webkit-keyframes flash{
    45%   {opacity: 0}
    55%   {opacity: 1}
}
@-o-keyframes flash{
    45%   {opacity: 0}
    55%   {opacity: 1}
}
@-moz-keyframes flash{
    45%   {opacity: 0}
    55%   {opacity: 1}
}
@keyframes flash{
    45%   {opacity: 0}
    55%   {opacity: 1}
}

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 300ms;
}

.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-to {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
  position: absolute;
}
.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-leave-to {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  position: absolute;
}


/**/
